<div class="w3-main" style="margin-left:300px;margin-top:43px;" ng-controller="map_location_ctrl">
    <!-- Header -->
    <header id="map_location" style="padding-top:22px">
    </header>
    <div id="control_area">
        <label for="">Add new map location</label>
        <input class="form-control" type="text" ng-model="data">
        <button class="btn btn-primary" ng-click="add(data)">Add</button>
        <button class="btn btn-primary" ng-click="draw()">Draw</button>
        <button class="btn btn-primary" ng-click="export()">Export</button>
        <button class="btn btn-primary" ng-click="click_info()">test</button>
    </div>
    <div id="map_location" class="w3-container form-group">
        <p>D3 Tutorials </p>
    </div>
    <div id="map_phuoc_tien">
        count: {{count}}
        <svg width="100" height="100">
            <circle ng-click="count=count+1" ng-init="count=0" cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" />
        </svg>
    </div>
</div>