<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" id="mainNav" ng-controller="sidebar_menu_ctrl">
  <a href="/#!/" class="navbar-brand">
    <img src="w3images\d3.svg" style="width: 55px" alt="d3 logo">
  </a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="{{x.title}}" ng-repeat="x in menu">
        <a class="nav-link" href="{{x.href}}">
          <i class="{{x.class}}"></i>
          <span class="nav-link-text">{{x.span}}</span>
        </a>
      </li>
    </ul>
    <!-- logo + thu gon nav bar + smoth scroll-->
    <d3-app></d3-app>
  </div>
</nav>