<div class="container-fluid" ng-controller="basic_ctrl">
    <!-- Header -->
    <header class="">
        <h5 class="text-capitalize">
            <i class="fa fa-dashboard"></i>
            <b>
                <span>d3 practical</span>
            </b>
        </h5>
    </header>
    <div class="w3-row-padding w3-margin-bottom">

    </div>
    <div class="w3-panel">


    </div>
    <div class="">
        <div id="d3_tut">
            <h5>Shape & Color</h5>

            <svg width="50" height="50">
                <circle cx="25" cy="25" r="25" fill="purple" />
            </svg>
            <svg width="50" height="50">
                <rect x="0" y="0" width="50" height="50" fill="green" opacity="0.5" />
            </svg>
            <svg width="50" height="50">
                <ellipse cx="25" cy="25" rx="15" ry="10" fill="red" />
            </svg>
            <svg width="50" height="50">
                <polyline fill="none" stroke="yellow" stroke-width="2" points="05,30 15,10 25,30 " />
            </svg>
            <svg width="50" height="50">
                <line x1="5" y1="5" x2="40" y2="40" stroke="gray" stroke-width="5" />
            </svg>
            <svg width="50" height="50">
                <polyline fill="none" stroke="blue" stroke-width="2" points="05,30 15,30 15,20 25,20 25,10 35,10" />
            </svg>
        </div>
        <div id="d3_ctrl">
            <h5>Visual-encoding</h5>
            <li>
                <a target="_blank" href="https://www.targetprocess.com/articles/visual-encoding/">Decomposing Visualizations Examples</a>
            </li>
            <svg id="one"></svg>
            <svg id="two"></svg>
            <svg id="three"></svg>
            <svg id="four"></svg>
            <svg id="five"></svg>
        </div>
        <div id="learning_online">
            <h5>Learning online</h5>
            <ul>
                <li>
                    <a target="_blank" href="https://classroom.udacity.com/courses/ud507/lessons/3068848585/concepts/30952086990923">udacity</a>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/d3/d3/wiki/Tutorials">github</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.tutorialsteacher.com/d3js/method-chaining-in-d3js">tutorialsteacher</a>
                </li>

            </ul>
            <h5>Lesson 2: D3 Building block</h5>
            <ul class="text-capitalize">
                <li>
                    <a href="https://classroom.udacity.com/courses/ud507/lessons/eed63675-9dfc-45b6-84ff-85f186e9e29a/concepts/3281647c-51aa-4a7b-b0bc-c448cbd22134">Animation and interaction</a>
                </li>
                <li>
                    <a href="http://alignedleft.com/tutorials/d3/chaining-methods">chaining methods </a>
                </li>
                <li>
                    <a href="https://www.dashingd3js.com/lessons/d3-and-dom-events">d3 and dom events</a>
                </li>
                <li>
                    <a href="http://websystique.com/angularjs/angularjs-custom-directives-link-function-guide/">angularjs custom directives link function guide</a>
                </li>
                <li>
                    <a href="https://blog.rapid7.com/2017/05/31/how-to-combine-d3-with-angularjs/">how to combine d3 with angularjs </a>
                </li>
                <li class="text-danger">
                    <h6>https://www.dashingd3js.com/d3-resources/d3-and-angular</h6>
                    <a href="https://github.com/EpiphanyMachine/d3AngularIntegration">Integrating d3 and Angular </a>
                </li>
            </ul>

            <h5>Tool rut trich du lieu</h5>
            <ul>
                <li>
                    <a href="https://apps.automeris.io/wpd/">automeris </a>
                </li>
            </ul>

        </div>
        <div id="drawing_area">
            <h5 class="text-capitalize">
                <span>
                    <i class="fa fa-area-chart"></i>
                </span> Drawing area</h5>
            <svg id="svg_area"></svg>

        </div>


        <p>Error: This is dummy error.</p>
        <p>Warning:This is dummy warning.</p>
    </div>
    <footer class=" w3-padding-16 w3-light-grey">
        <h4>FOOTER</h4>
        <p class="text-capitalize">D3 practical </p>
    </footer>
</div>