<div class="w3-main" style="margin-left:300px;margin-top:43px;" ng-controller="polygon_ctrl">

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
    </header>
    <div class="w3-container">
        <svg id="himlam_map_svg" width="811" height="674" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <image xlink:href="/w3images/himlam_map.JPG" />
        </svg>
    </div>
    <footer class="w3-container w3-padding-16 w3-light-grey">
        <h4>FOOTER</h4>
        <p class="text-capitalize"></p>
    </footer>
</div>